<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2 align="center">Список пользователей</h2>
<br/>
<form th:action="@{/admin/new}" th:method="GET" th:align="center">
    <input type="submit" value="Добавить пользователя">
</form>
<br/>
<div>
    <table style="margin: 0 auto; border: solid 3px green; border-radius: 25px; padding: 10px">
        <tr>
            <th width="50" align="left"> ID</th>
            <th width="100" align="left"> Имя</th>
            <th width="100" align="left"> Фамилия</th>
            <th width="100" align="left"> Возраст</th>
            <th width="150" align="left"> Почта</th>
            <th width="150" align="left"> Роли</th>
            <th width="150" align="left"> </th>
        </tr>
        <tr th:each="user : ${users}">
            <td  width="50" th:text="${user.getId()}"></td>
            <td  width="100" th:text="${user.name}"></td>
            <td  width="100" th:text="${user.getSecondName()}"></td>
            <td  width="100" th:text="${user.getAge()}"></td>
            <td  width="150" th:text="${user.getEmail()}"></td>
            <td  width="150" th:text="${user.getRoles()}"></td>
            <td> <form th:method="GET" th:action="@{admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Редактировать">
            </form>
            </td>
            <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Очистить">
            </form>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <form th:action="@{/logout}" th:method="GET" th:align="center">
        <input type="submit" value="Выйти">
    </form>
</div>
<br/>
<br/>
</body>
</html>